@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: Poppins;
  background-color: black;
  background-color: white;

  color: white;
  color: black;
}
.gradientMain {
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
}

.grid-item-0 {
  @apply xl:row-start-1 xl:col-start-1 xl:col-span-2;
}
.grid-item-1 {
  @apply xl:row-start-2 md:max-lg:col-start-2 xl:col-start-2 xl:col-span-3;
}
.grid-item-2 {
  @apply xl:row-start-3 xl:col-start-1 xl:col-span-2;
}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 50vw;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50vw;
  }
}
